@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --christmas-red: #B91C1C;
  --christmas-green: #006400;
  --christmas-gold: #B7791F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Mountains of Christmas', Arial, Helvetica, sans-serif;
}

/* Standaard voor desktop */
.overlay-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

/* iOS devices */
@supports (-webkit-touch-callout: none) {
  .overlay-bg {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* Android devices */
@supports not (-webkit-touch-callout: none) {
  @media screen and (max-width: 768px) {
    .overlay-bg {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}