@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --christmas-red: #B91C1C;
  --christmas-green: #006400;
  --christmas-gold: #B7791F;
}

@font-face {
  font-family: 'GreatVibes';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoC';
  src: url('/fonts/MountainsofChristmas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kranky';
  src: url('/fonts/Kranky-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: 'GreatVibes'; */
}

/* Standaard voor desktop */
.overlay-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.font-MoC {
  font-family: 'Moc';
}

.font-kranky {
  font-family: 'Kranky';
}

.font-cinzel {
  font-family: 'Cinzel';
}

/* iOS devices */
@supports (-webkit-touch-callout: none) {
  .overlay-bg {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* Android devices */
@supports not (-webkit-touch-callout: none) {
  @media screen and (max-width: 768px) {
    .overlay-bg {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}